@import "../app.module.css";

.list {
  flex: 1 1 20%;
  margin: 0;
}

.videos {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .list {
    padding: 0;
  }
  .videos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
