@import "../app.module.css";

.section {
  flex: 1 1 80%;
}

.title {
  padding: var(--space-small) 0;
  border-bottom: var(--border-base);
}

.description {
  font-size: calc(var(--font-small) * 1.3);
}

.player {
  width: 100%;
  height: 80vh;
}

@media screen and (max-width: 768px) {
  .section {
    margin-bottom: var(--space-large);
  }

  .player {
    height: var(--media-height);
  }
}
