@font-face {
  font-family: "TmoneyRoundWindRegular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font Size */
  --font-large: 24px;
  --font-medium: 20px;
  --font-small: 12px;
  --font-button: 30px;

  /* margin&padding size */
  --space-large: 50px;
  --space-small: 10px;

  /* border */
  --border-base: 1px solid rgb(104, 104, 104);
  --border-header: 1px solid var(--header-light-color);

  /* Item Min/Max Size */
  --item-max-size: 300px;
  --item-min-size: 225px;

  --media-height: 360px;

  /* color */
  --font-color: rgb(240, 240, 240);
  --background-color: #282828;
  --header-color: #4d2c91;
  --header-light-color: #b085f5;
  --header-logo-color: #9c62ff;
  --header-search-color: rgb(65, 34, 128);
}

* {
  font-family: "TmoneyRoundWindRegular";
  box-sizing: border-box;
}

body {
  font-size: var(--font-large);
  color: var(--font-color);
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.VT-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--space-small) * 2);
  background-color: var(--header-color);
}

.sideBar-btn {
  display: none;
  font-size: var(--font-large);
  margin-right: calc(var(--space-small) * 2);
  color: var(--header-light-color);
}

.headerLogo {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: transform 150ms ease-in;
}

.headerLogo:hover {
  transform: scale(1.05);
}

.headerLogo-name {
  font-family: "MaplestoryOTFBold";
  letter-spacing: calc(var(--space-small) / 5);
}

.fa-play-circle {
  color: var(--header-logo-color);
  padding-right: calc(var(--space-small) / 2);
  font-size: var(--font-button);
}

.searchBar {
  width: 50%;
  display: flex;
}

.searchBar-input {
  outline: none;
  width: 80%;
  font-size: var(--font-medium);
  color: var(--font-color);
  border: var(--border-header);
  background-color: var(--header-search-color);
}

.searchBar-input::placeholder {
  color: var(--header-light-color);
}

.searchBar-btn {
  background-color: var(--header-search-color);
  color: var(--header-light-color);
  border: var(--border-header);
  width: 10%;
  min-width: calc(var(--item-min-size) / 6);
  font-size: var(--font-medium);
}

.videoList {
  display: flex;
  flex: 1 1 20%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.video {
  max-width: var(--item-max-size);
  min-width: var(--item-min-size);
  max-height: var(--item-max-size);
  cursor: pointer;
  margin-bottom: calc(var(--space-small) * 3);
  transition: transform 150ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.video-item {
  padding: 0 calc(var(--space-small) / 2);
}

.video img {
  width: 100%;
  max-height: var(--item-min-size);
}

.video-info {
  display: flex;
  flex-direction: column;
}

.video-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: calc(var(--font-small) * 1.3);
  margin-bottom: calc(var(--space-large) / 2);
}

.video-name {
  text-align: end;
  font-size: var(--font-small);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.video-views {
  text-align: end;
  font-size: var(--font-small);
}

.VT_section {
  display: flex;
  padding: var(--space-small);
}

.watchSection {
  flex: 1 1 80%;
}

.watch-videoTitle {
  padding: var(--space-small) 0;
  border-bottom: var(--border-base);
}

.watch-videoDes {
  font-size: calc(var(--font-small) * 1.3);
}

iframe {
  width: 100%;
  height: 80vh;
}

@media screen and (max-width: 768px) {
  .VT_section {
    flex-direction: column;
  }

  .watchSection {
    margin-bottom: var(--space-large);
  }

  iframe {
    height: var(--media-height);
  }

  .videoList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video {
    max-width: 100%;
    width: 90vh;
    border: var(--border-base);
    margin-bottom: var(--space-small);
  }

  .video-item {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .video-info {
    padding: var(--space-small);
  }

  .video-name,
  .video-views {
    text-align: start;
  }

  .video img {
    width: var(--item-min-size);
    height: 100%;
  }
}
